body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #f5f0ff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 4rem;
}
h2 {
    margin: 0;
    font-size: 2em;
}

p {
    margin: 10px 0;
    font-size: 1.3em;
}

.logo-header img {
    max-width: 600px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #676767;
    text-decoration: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    border-radius: 20px;
}
.hero-image {
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1.5rem;
  flex-wrap: wrap;  
  background: #f5f0ff;
}

.skill-item {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1); /* smooth ease out */
  will-change: transform; /* helps performance */}

.about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 50px;
    margin: 50px;
    border: 2px solid #f5f0ff;
    text-align: start;
    border-radius: 20px;
}

.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

.project-item{
    max-width: 400px;
    background-color: #f5f0ff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.thumbnail {
    max-width: 80%;    
    height: auto;
    border-radius: 10px;
}

.visit-btn {
    display: inline-block;
    padding: 5px 15px;
    background-color: #f5f0ff;
    color: #676767;
    text-decoration: none;
    border-radius: 20px;

}
.visit-btn:hover {
    transition: 0.2s ease-in-out;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1.5rem;
  flex-wrap: wrap;  
  background: #f5f0ff;
}

footer {
    color: #676767;
    text-align: center;
    margin-top: 50px;
}
footer p {
    font-size: 1.0em;
}


@media screen and (max-width: 768px) {
    .logo-header img {
        max-width: 300px;
    }
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .hero-image {
        max-width: 100%;
    }
    h1 {
        font-size: 2.5rem;
    }
    .about {
        grid-template-columns: 1fr;
        text-align: justify;
        padding: 20px;
    }
    .projects {
        display: inline;
    }
    .skills p, .contact p {
        margin: 20px;
        font-size: 1.2em;
        letter-spacing: normal;
    }
    
}